# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives** 
* List of Commonly Used Libraries by Data Science 
* List Popular Data Science Tools Used by Data Scientist 
* Evaluating Arithmetic Expression

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-Learn
4. Keras

|Data Science Tools|
|-------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print('200 minutes = ', 200/60, 'Hours')

200 minutes =  3.3333333333333335 Hours

## Author
Vikas Anand Prasad